<a href="https://colab.research.google.com/github/RajeshRao24/RWI-Careers-Website/blob/main/Lesson_04_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

In [1]:
x = 34 ; y = 67.89 ; z = True
print('x = ', x, '\ty = ', y, '\tz = ', z)

x =  34 	y =  67.89 	z =  True

In [3]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

Type of
x =  <class 'int'> 	y =  <class 'float'> 	z =  <class 'bool'>

In [ ]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

## Data Type Conversion

In [4]:
x = 45.77
int(x)

45

In [5]:
str(x)

'45.77'

In [ ]:
bool(x)

In [ ]:
y = '45.88'

In [ ]:
float(y)

In [ ]:
int(y)

## Checking Refrences

In [ ]:
x = 34
y = x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

In [ ]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

In [ ]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

#

#
#
#
#

# Arithmetic Operators

In [ ]:
x = 50
y = 4

In [ ]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

In [ ]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

#
#
#
#

# Arithmetic Assignment Operators

In [ ]:
a = 10
print('Present value of a = ', a )

In [ ]:
a += 5
print('Updated value of a = ', a )

In [ ]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

In [ ]:
a += 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

#
#
#
#

# Comparison Operator

In [ ]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a == b  : ', a == b)

In [ ]:
a = 20
b = 30
print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

In [ ]:
a = 40
b = 30
print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

#
#
#
#

# Logical Operators

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b)
print('a == b           : ', a == b)

In [ ]:
print('a < b and a == b : ', a < b and a == b)

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

In [ ]:
print('a < b or a == b : ', a < b or a == b)

In [ ]:
a = 40
print('a = ', a)
print('a < 50      : ' , a < 50 )

In [ ]:
print('not a < 50  : ' , not(a < 50))

#
#
#
#
#

# Miscellaneous Operators

### Identity Operators

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is b' , a is b)

In [ ]:
a = ['a', 'b', 'c']
b =  a
print('a is b' , a is b)

In [ ]:
id(a) == id(b)

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

### Membership Operators

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x in y)

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x not in y)

In [ ]:
a = [20, 45, 10]
10 in a

In [ ]:
a = [20, 45, 10]
10 not in a

#
#  
#
#
#
#

# Strings in Python

In [ ]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = "Hi! Welcome to Python Programming!!"
print(message_1)
print(message_2)

In [ ]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

# String methods

In [ ]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe.'

In [ ]:
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE.

In [ ]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore.

In [ ]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore.

In [ ]:
word_upper = string.title()
word_upper

'She Sells Sea Shells On The Sea Shore.'